<h1>Listing users</h1>

<table class="user">
  <thead>
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>Twitter name</th>
      <th>Github name</th>
      <th>Avatar image name</th>
    </tr>
  </thead>

  <tbody class="user_listing">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.full_name %></td>
        <td><%= user.twitter_name %></td>
        <td><%= user.github_name %></td>
        <td><%= user.avatar_image_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %><br/><br/>
<span><strong>Current View Paths</strong></span><br/>
<%= controller.view_paths.map &:to_path %>
