<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :price, hint: "Price should be USD"%>
  <%= f.input :rating, collection: 1..5, as: :radio_buttons %>
  <%= f.input :discontinued %>
  <%= f.association :publisher, prompt: "Select Publisher" %>
  <div class="radio-buttons">
    <%= f.association :categories, as: :check_boxes %>
  </div>
  <%= f.error :base %>
  <%= f.button :submit %>
<% end %>
